body {
    transition: background-color 0.5s, color 0.5s; /* Transição suave para a cor de fundo e texto */
    background-color: white;
    color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Azul */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    button {
        width: 100%;
    }
}